<link rel="stylesheet" href="~/css/topbar.css" asp-append-version="true" />


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="top-bar-section left">
            <span class="branding">Branding</span>
        </div>
        <div class="top-bar-section center">
            Client Name
        </div>
        <div class="top-bar-section right">
        <button class="name-role-title">Jane Smith, System Administrator</button>
            <button class="icon-button" data-bs-toggle="modal" data-bs-target="#addRecordModal"><i class="material-icons">add</i></button>
            <button class="icon-button no-cursor"><i class="material-icons">email</i></button>
            <button class="icon-button" data-bs-toggle="modal" data-bs-target="#searchRecordModal" data-bs-backdrop="static"><i class="material-icons">search</i></button>

            <div class="dropdown">
                <button class="icon-button" id="settingsDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_horiz</i></button>


                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingsDropdownMenu">
                    <li><a class="dropdown-item dropdownItemBlack" href="#">Change Position</a></li>
                    <li><a class="dropdown-item dropdownItemBlack" href="#">Change Password</a></li>
                    <li><a class="dropdown-item dropdownItemBlack" href="#">Policy Documents</a></li>
                    <li><a class="dropdown-item dropdownItemBlack" href="#">Help Centre</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item dropdownItemBlack" href="#">Log Out</a></li>
                </ul>
            </div>
            <div class="modal" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Add A New Record</h5>
                            <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">close</i></span>
                            </button>
                        </div>
                        <div class="modal-body add-record-modal-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="searchRecordModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Record Search</h5>
                            <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">close</i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
